In [5]:
from pyspark.sql import(
    SparkSession,
    functions as f,
    types as t
)

In [4]:
spark = SparkSession.builder.appName("df_total").getOrCreate()

In [6]:
table_schema = t.StructType([
    t.StructField("customer_name", t.StringType(), True),
    t.StructField("product_id", t.IntegerType(), True),
    t.StructField("price", t.IntegerType(), True)])

In [7]:
csv_file_path = "file:///home/jovyan/work/sample/product.csv"

In [8]:
df = spark.read.schema(table_schema).csv(csv_file_path)

In [9]:
df.show()

+--------------------+----------+-----+
|       customer_name|product_id|price|
+--------------------+----------+-----+
|      Whitney Duncan|      2265|  899|
|       Ebonie Hudson|      2509|  762|
|        Luise Warren|      1995|  657|
|        Kenton Floyd|      2271|  829|
|       Kasie Douglas|      2507|  254|
|          Elden Ward|      1486|  369|
|      Hyacinth Kelly|      1355|  660|
|   Alishia Stevenson|      3173|  368|
|      Amado Castillo|      1465|  242|
|       Daniell Mills|      3043|   44|
|          King Price|      1579|  607|
|       Luise Chapman|      2149|  705|
|        Hobert Grant|      2858|  777|
|       Michal Steele|      1500|  519|
|       Elenore Watts|      2123|  670|
|Cristobal Montgomery|      1378|  630|
|     Towanda Stevens|      3122|  358|
|     Hildred Sanders|      3589|  193|
|        Cordie Terry|      3967|   49|
|       Eugene Farmer|      1966|  529|
+--------------------+----------+-----+
only showing top 20 rows

In [13]:
customer_spend = df.groupBy("customer_name")\
    .agg(
        f.round(
            f.sum("price"),
            2
        ).alias("cost")
    )

In [15]:
customer_spend.orderBy(f.col("cost").desc()).show()

+-----------------+----+
|    customer_name|cost|
+-----------------+----+
|     Damion Wolfe|1397|
| Benedict Frazier| 998|
|  Giuseppe Miller| 997|
|    Garret Martin| 997|
|Erminia Robertson| 997|
|     Milan Gibson| 996|
|     Rudy Wheeler| 994|
|   Kathey Baldwin| 994|
|   Williemae Bell| 992|
|Gearldine Aguilar| 988|
|      Jewel Parks| 987|
|     Hyman Castro| 985|
|    Noriko Medina| 984|
|     Garfield Day| 982|
|      Dacia Adams| 981|
|     Taisha Henry| 980|
|    Branda Valdez| 978|
|     Fumiko Weber| 976|
|Geraldo Alexander| 975|
|      Walker Pope| 975|
+-----------------+----+
only showing top 20 rows