In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import(
    avg,
    col,
    round as rnd
)

In [2]:
spark = SparkSession.builder.appName("sql_import_csv").getOrCreate()

In [3]:
csv_path = "file:///home/jovyan/work/sample/age.csv"

In [4]:
data = spark.read.option("header", "true")\
            .option("inferSchema","true")\
            .csv(csv_path)

In [5]:
data.show()

+-----------------+---+--------------------+
|             name|age|             country|
+-----------------+---+--------------------+
|    Neville Hardy| 56|                Niue|
|      Dacia Cohen| 74|Falkland Islands ...|
|    Kathey Daniel| 10|            Slovenia|
|     Mallie Welch| 12|   Equatorial Guinea|
|     Katia Bryant| 14|               Ghana|
|Laurice Robertson| 53|        Saudi Arabia|
|     Minh Barrett| 27|French Southern T...|
|   Latashia Perez| 52|             Finland|
|      Elvina Ross| 68|         New Zealand|
|  Augustus Snyder| 20|             Jamaica|
|        Elois Cox| 65|            Paraguay|
|    Jolanda Dixon| 14|               Ghana|
|      Rutha Young| 10|        Saint Helena|
| Waltraud Holland| 10|             Moldova|
|   Colton Flowers| 77|Saint Vincent and...|
|     Meri Hawkins| 43|             Jamaica|
|     Theola Mason| 71|              Gambia|
|  Antonia Pearson| 25|             Namibia|
|   Delicia Murray| 41|         El Salvador|
|    Cicely Harvey| 37|              Belize|
+-----------------+---+--------------------+
only showing top 20 rows

In [6]:
data.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- country: string (nullable = true)

In [8]:
data.select("name","age").show()

+-----------------+---+
|             name|age|
+-----------------+---+
|    Neville Hardy| 56|
|      Dacia Cohen| 74|
|    Kathey Daniel| 10|
|     Mallie Welch| 12|
|     Katia Bryant| 14|
|Laurice Robertson| 53|
|     Minh Barrett| 27|
|   Latashia Perez| 52|
|      Elvina Ross| 68|
|  Augustus Snyder| 20|
|        Elois Cox| 65|
|    Jolanda Dixon| 14|
|      Rutha Young| 10|
| Waltraud Holland| 10|
|   Colton Flowers| 77|
|     Meri Hawkins| 43|
|     Theola Mason| 71|
|  Antonia Pearson| 25|
|   Delicia Murray| 41|
|    Cicely Harvey| 37|
+-----------------+---+
only showing top 20 rows

In [10]:
data.select("name", "age").filter(data.age > 60).show()

+---------------+---+
|           name|age|
+---------------+---+
|    Dacia Cohen| 74|
|    Elvina Ross| 68|
|      Elois Cox| 65|
| Colton Flowers| 77|
|   Theola Mason| 71|
| Lauryn Hubbard| 80|
|  Verena Dennis| 80|
|    Gaston Ford| 76|
|    Lory Austin| 76|
|      Otha Soto| 72|
|  Lauryn Lawson| 66|
|  Kristofer Roy| 74|
|  Janee Holland| 80|
|  Mitchell Rios| 73|
|  Blossom Doyle| 63|
|Doloris Pearson| 72|
| Raleigh Hanson| 66|
|     Enoch Beck| 75|
|       Tai Pope| 73|
|     Chery Dean| 79|
+---------------+---+
only showing top 20 rows

In [12]:
data.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 31|   16|
| 65|   16|
| 53|   14|
| 78|   16|
| 34|   15|
| 28|   11|
| 76|   14|
| 27|   10|
| 26|   15|
| 44|   14|
| 12|   15|
| 22|   17|
| 47|   17|
| 52|   16|
| 13|   14|
| 16|   18|
| 20|   12|
| 40|   22|
| 57|    9|
| 54|   17|
+---+-----+
only showing top 20 rows

In [14]:
data.select(data.name, data.age, data.age-10).show()

+-----------------+---+----------+
|             name|age|(age - 10)|
+-----------------+---+----------+
|    Neville Hardy| 56|        46|
|      Dacia Cohen| 74|        64|
|    Kathey Daniel| 10|         0|
|     Mallie Welch| 12|         2|
|     Katia Bryant| 14|         4|
|Laurice Robertson| 53|        43|
|     Minh Barrett| 27|        17|
|   Latashia Perez| 52|        42|
|      Elvina Ross| 68|        58|
|  Augustus Snyder| 20|        10|
|        Elois Cox| 65|        55|
|    Jolanda Dixon| 14|         4|
|      Rutha Young| 10|         0|
| Waltraud Holland| 10|         0|
|   Colton Flowers| 77|        67|
|     Meri Hawkins| 43|        33|
|     Theola Mason| 71|        61|
|  Antonia Pearson| 25|        15|
|   Delicia Murray| 41|        31|
|    Cicely Harvey| 37|        27|
+-----------------+---+----------+
only showing top 20 rows

In [15]:
data.select(data.name, col("age").alias("age1")).show()

+-----------------+----+
|             name|age1|
+-----------------+----+
|    Neville Hardy|  56|
|      Dacia Cohen|  74|
|    Kathey Daniel|  10|
|     Mallie Welch|  12|
|     Katia Bryant|  14|
|Laurice Robertson|  53|
|     Minh Barrett|  27|
|   Latashia Perez|  52|
|      Elvina Ross|  68|
|  Augustus Snyder|  20|
|        Elois Cox|  65|
|    Jolanda Dixon|  14|
|      Rutha Young|  10|
| Waltraud Holland|  10|
|   Colton Flowers|  77|
|     Meri Hawkins|  43|
|     Theola Mason|  71|
|  Antonia Pearson|  25|
|   Delicia Murray|  41|
|    Cicely Harvey|  37|
+-----------------+----+
only showing top 20 rows

In [18]:
data.select("name","age","country")\
    .groupBy("country")\
    .avg("age").show()

+--------------------+------------------+
|             country|          avg(age)|
+--------------------+------------------+
|                Chad|             36.25|
|            Paraguay| 47.77777777777778|
|            Anguilla|              72.0|
|               Macao|              72.0|
|Heard Island and ...|              30.0|
|             Senegal|              53.0|
|              Sweden|45.333333333333336|
|             Tokelau|34.166666666666664|
|French Southern T...|50.666666666666664|
|            Kiribati|48.666666666666664|
|   Republic of Korea|58.166666666666664|
|              Guyana|              39.0|
|             Eritrea|             39.75|
|              Jersey|              58.8|
|         Philippines|48.333333333333336|
|            Djibouti|              38.6|
|               Tonga|              49.0|
|      Norfolk Island|35.333333333333336|
|            Malaysia|60.666666666666664|
|           Singapore|              40.0|
+--------------------+------------------+
only showing top 20 rows

In [19]:
data.select("name","age","country")\
    .groupBy("country")\
    .avg("age").sort("avg(age)").show()

+--------------------+------------------+
|             country|          avg(age)|
+--------------------+------------------+
|             Tunisia|              10.0|
|                Iran|              14.0|
|           Greenland|              14.5|
|                Cuba|              15.0|
|              Zambia|              16.0|
|          Costa Rica|              17.0|
|          Guadeloupe|              21.0|
|             Ireland|              21.0|
|            Suriname|23.333333333333332|
|    Saint Barthelemy|              24.0|
|              Taiwan|24.666666666666668|
|             Namibia|              25.0|
|             Moldova|             25.75|
|       Faroe Islands|              26.0|
|      Western Sahara|26.666666666666668|
|Bouvet Island (Bo...|26.666666666666668|
|Saint Kitts and N...|              27.0|
|             Vietnam|             27.25|
|   Equatorial Guinea|              27.5|
|           Gibraltar|27.666666666666668|
+--------------------+------------------+
only showing top 20 rows

In [23]:
data.select("name","age","country")\
    .groupBy("country")\
    .agg(rnd(avg("age"),2).alias("avg_age")).sort("avg_age").show()

+--------------------+-------+
|             country|avg_age|
+--------------------+-------+
|             Tunisia|   10.0|
|                Iran|   14.0|
|           Greenland|   14.5|
|                Cuba|   15.0|
|              Zambia|   16.0|
|          Costa Rica|   17.0|
|          Guadeloupe|   21.0|
|             Ireland|   21.0|
|            Suriname|  23.33|
|    Saint Barthelemy|   24.0|
|              Taiwan|  24.67|
|             Namibia|   25.0|
|             Moldova|  25.75|
|       Faroe Islands|   26.0|
|      Western Sahara|  26.67|
|Bouvet Island (Bo...|  26.67|
|Saint Kitts and N...|   27.0|
|             Vietnam|  27.25|
|   Equatorial Guinea|   27.5|
|           Gibraltar|  27.67|
+--------------------+-------+
only showing top 20 rows