In [1]:
from pyspark.sql import (
    functions as f,
    Row,
    SparkSession,
    types as t
)

In [2]:
spark = SparkSession.builder.appName("df_struct").getOrCreate()

In [3]:
table_schema = t.StructType([
    t.StructField("country", t.StringType(), True),
    t.StructField("temperature", t.FloatType(), True),
    t.StructField("observed_date", t.StringType(), True)])

In [5]:
csv_file_path = "file:///home/jovyan/work/sample/temp_with_date.csv"

In [6]:
df = spark.read.schema(table_schema).csv(csv_file_path)

In [9]:
data = df.select("country", "temperature", "observed_date")

In [10]:
min_temperature = data.groupBy("country").min("temperature")

In [12]:
min_temperature.show()

+--------------------+----------------+
|             country|min(temperature)|
+--------------------+----------------+
|                Chad|           -24.0|
|            Anguilla|           -40.0|
|            Paraguay|            30.0|
|               Macao|           -34.0|
|Heard Island and ...|           -39.0|
|               Yemen|           -33.0|
|             Senegal|           -21.0|
|              Sweden|           -29.0|
|             Tokelau|           -35.0|
|            Kiribati|           -26.0|
|French Southern T...|           -22.0|
|   Republic of Korea|           -18.0|
|              Guyana|           -28.0|
|             Eritrea|           -40.0|
|         Philippines|           -34.0|
|              Jersey|           -21.0|
|      Norfolk Island|           -28.0|
|               Tonga|           -40.0|
|           Singapore|           -25.0|
|            Malaysia|           -21.0|
+--------------------+----------------+
only showing top 20 rows

In [16]:
f_temperature = data.withColumn(
                    "temperature",
                    (f.col("temperature")*9/5)+32).select("country", "temperature")

In [17]:
f_temperature.show()

+--------------------+-------------------+
|             country|        temperature|
+--------------------+-------------------+
|                Guam|              -13.0|
|                Guam|              102.2|
|              Serbia|              -31.0|
|       French Guiana|               21.2|
|Falkland Islands ...|              -40.0|
|              Brazil|               59.0|
|             Tunisia|-23.799999999999997|
|            Portugal|               44.6|
|                Iran| -7.600000000000001|
|           Australia|               23.0|
|              Gambia|               69.8|
|               Italy|               87.8|
|          Guadeloupe|              -38.2|
|        South Africa|-11.200000000000003|
|              Malawi|               21.2|
|                Iran|               93.2|
|      Norfolk Island|               23.0|
|Lao People's Demo...|               77.0|
|   Republic of Korea|-0.3999999999999986|
|           Singapore|                5.0|
+--------------------+-------------------+
only showing top 20 rows